<p>These are all the rooms in the lobby</p>
<head>
  <body>
    <table>
        <tr>
          <th>Room ID</th>
          <th>Players</th>
          <th></th>
        </tr>
        {{#roomsIdsAndUserCount}}
        <tr>
          <td>{{id}}</td>
          <td>{{pc}}</td>
          <td>
            <form action="/rooms/">
              <input type="hidden" name="userName" value={{userName}}>
              <input type="submit" value="Join Game" />
            </form>
          </td>
        </tr>
        {{/roomsIdsAndUserCount}}
    </table>
  </body>
</head>