<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
</head>

<body>
    <h1> User: {{userName}} </h1>
    <p>Playing snake game</p>
    <table id="playersTable">
        <tr>
          <th>PlayerID</th>
          <th>PlayerName</th>
        </tr>
    </table>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        
        socket.emit('enteringRoom', {
            roomId: {{roomId}},
            userName: {{userName}}
        });

        socket.on('updateUsersInRoom', function (users) {
            const table = document.getElementById("playersTable")
            while(table.firstChild){
                table.removeChild(table.firstChild);
            }
            users.forEach(user => {
                let trNode = document.createElement("tr");
                let tdNode = document.createElement("td");
                tdNode.textContent = user;
                trNode.appendChild(tdNode);
                table.appendChild(trNode);
            })
        });

        socket.on('informUserForOtherUserActicity', function(userName, action) {
            alert(`User: ${userName} ${action}`);
        });
    </script>
</body>

</html>