<!doctype html>
<html>

<head>
    <title>Snake Game</title>
</head>

  <body>
    <form method='post' action='/'>
      <br/> Name:
      <br/> <input type='text' 
              placeholder='username'
              name='name'>
      <br/> <input type='submit' value='Continue'>
    </form>
  <body>
  <h1>Snake game</h1>
</body>

</html>