<p>These are all the users in database</p>
<head>
  <body>
    <table>
        <tr>
          <th>Name</th>
          <th>Score</th>
          <th></th>
        </tr>
        {{#users}}
        <tr>
          <td>{{name}}</td>
          <td>{{highScore}}</td>
        </tr>
        {{/users}}
    </table>
  </body>
</head>